body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

#userTbody tr:hover {
  background-color: rgb(191, 222, 253);
}

#userTbody tr.selected {
  background-color: rgb(97, 159, 231);
}

#alertContainer {
  align-content: center;
  width: 100%;
  position: fixed;
  bottom: 10px;
}

#alertContainer .alert {
  margin: 4px 10% 4px 10%;
}
